In [1]:
# This installs the ability to import jupyter notebooks
import sys

!{sys.executable} -m pip install import_ipynb

Requirement already satisfied: import_ipynb in d:\users\ravis\anaconda3\lib\site-packages (0.1.3)

In [3]:
# Read a CSV
import import_ipynb
from util import *

calendar = read_csv('../data/calendar.csv')

calendar.head()

Mem. usage decreased to 37.21 Mb (12.5% reduction)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [8]:
print(calendar['listing_id'].isnull().values.any())
print(calendar['date'].isnull().values.any())
print(calendar['available'].isnull().values.any())

False
False
False