In [7]:
# This installs the ability to import jupyter notebooks
import sys

!{sys.executable} -m pip install import_ipynb

Requirement already satisfied: import_ipynb in d:\users\ravis\anaconda3\lib\site-packages (0.1.3)
Mem. usage decreased to  0.00 Mb (20.2% reduction)

   a  b  c
0  1  2  3

In [15]:
# Read a CSV
import import_ipynb
from util import *

calendar = read_csv('../data/calendar.csv')

calendar.tail()

Mem. usage decreased to 37.21 Mb (12.5% reduction)

         listing_id        date available price
1393565    10208623  2016-12-29         f   NaN
1393566    10208623  2016-12-30         f   NaN
1393567    10208623  2016-12-31         f   NaN
1393568    10208623  2017-01-01         f   NaN
1393569    10208623  2017-01-02         f   NaN